<div class="footer-Nav">
    Copyright (c) 2019 Takahito Hashimoto
    <a class="footer-Nav_Link" href="https://twitter.com/mosmos_21?lang=ja">Twitter</a>
    <a class="footer-Nav_Link" href="https://github.com/mosmos21/css-sample">GitHub</a>
</div>