<div class="footer-Nav">
    Copyright (c) 2019 Takahito Hashimoto
    <a class="footer-Nav_Link" href="<%= twitter %>">Twitter</a>
    <a class="footer-Nav_Link" href="<%= gitHub %>">GitHub</a>
</div>