<div class="mt-5 l-footer">
    Copyright (c) 2019 Takahito Hashimoto
    <a class="l-footer-link" href="https://twitter.com/mosmos_21?lang=ja">Twitter</a>
    <a class="l-footer-link" href="https://github.com/mosmos21/css-sample">GitHub</a>
</div>