<nav class="header-Nav">
    <div class="header-Nav_Group">
        <span class="header-Nav_Title">
            <i class="fi-lightbulb header-Nav_Icon"></i>
            CSS SAMPLE
        </span>
    </div>
    <div class="header-Nav_Group">
        <div class="header-Nav_LinkWrapper">
            <a href="<%= twitter %>" class="header-Nav_Link sp_none">Twitter</a>
            <a href="<%= gitHub %>" class="header-Nav_Link sp_none">GitHub</a>
            <div class="header-Nav_MenuButton sp_only" data-toggle="collapse" data-target="#header-Nav_MenuGroup">
                <i class="fi-list"></i>
            </div>
        </div>
    </div>
</nav>
<div id="header-Nav_MenuGroup" class="collapse header-Nav_MenuGroup">

</div>