<!DOCTYPE html>
<html lang="ja">
<%- include('layouts/head') -%>

<body>
    <%- include('layouts/header') -%>
    <div class="container">
        <h1>test</h1>
    </div>
    <%- include('layouts/footer') -%>
</body>

</html>