html
  font-size: 62.5%
  
*, *::before, *::after
  box-sizing: border-box
  font-family: 'Open Sans', 'Hiragino Kaku Gothic ProN', Meiyo, sasn-serif


$pc: 1024px
$tab: 680px
$sp: 480px

@mixin media-pc
  @media (max-width: $pc)
    @content

@mixin media-tab
  @media (max-width: $tab)
    @content

@mixin media-sp
  @media (max-width: $sp)
    @content

$space-xl: 3.6rem
$space-ll: 2.4rem
$space-l: 2rem
$space-m: 1.6rem
$space-s: 1.2rem
$space-xs: .8rem
$space-xxs: .4rem