
// main
$co-primary: #364f6b
$co-secondary: #3fc1c9
$co-tertiary: #fc5185

// gray-scale
$co-white: #ffffff
$co-gray20: #dfdfdf
$co-gray40: #bfbfbf
$co-gray60: #949494
$co-gray80: #555555
$co-black: #000000