.index
  &-Body
    align-content: space-around
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    margin: 0 auto
    min-width: 767px
    width: 80%
    @include media-sp
      width: 100%