.footer
  &-Nav
    color: $co-gray60
    font-size: $font-xs
    margin: $space-xl 0
    text-align: center
    &:before
      border-top: 2px solid $co-secondary
      border-bottom: 1px solid $co-secondary
      content: ''
      display: block
      height: 6px
      margin-bottom: $space-xs
      width: 100%

    &_Link
      color: $co-gray60
      text-decoration: underline
      margin: 0 .3rem
      &:hover
        color: $co-tertiary-lighten
