.footer
  &-Nav
    color: $co-gray60
    font-size: $font-xs
    margin: 3rem 0
    text-align: center

    &_Link
      color: $co-gray60
      text-decoration: underline
      margin: 0 .3rem
      &:hover
        color: $co-tertiary-lighten